<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.dao.goods.IGoodsPriceDao">

    <resultMap id="goodsPriceMap" type="goodsPriceEntity">
        <id column="begian_day" property="begianDay" jdbcType="DATE"/>
        <id column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <id column="goods_item_id" property="goodsItemId" jdbcType="INTEGER"/>
        <result column="end_day" property="endDay" jdbcType="DATE"/>
        <result column="price" property="price" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="BIT"/>
        <result column="serial" property="serial" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="full_column_list">
    begian_day, goods_id, goods_item_id, end_day, price, create_date, status, serial
  </sql>

    <!--单个item价格-->
    <select id="queryItemPrice" resultMap="goodsPriceMap" parameterType="java.lang.Integer">
        select
        <include refid="full_column_list"/>
        from t_goods_price
        where goods_item_id = #{goodsItemId}
        AND price > 0
        AND begin_day <![CDATA[<= ]]> curdate()
        AND end_day >= curdate()
        order by begin_day DESC ,price ASC
        limit 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_goods_price  where serial = #{serial}
    </delete>

    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_goods_price (
            begian_day,
            goods_id,
            goods_item_id,
            end_day,
            price,
            create_date,
            status
        )
        values
        <foreach collection="list" item="item" separator="," open="(" close=")" >
            #{item.begianDay,jdbcType=DATE},
            #{item.goodsId,jdbcType=INTEGER},
            #{item.goodsItemId,jdbcType=INTEGER},
            #{item.endDay,jdbcType=DATE},
            #{item.price,jdbcType=INTEGER},
            now(),
            0
        </foreach>
    </insert>

    <!--单个插入-->
    <insert id="insert" parameterType="goodsPriceEntity">

        insert into t_goods_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="begianDay != null">
                begian_day,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsItemId != null">
                goods_item_id,
            </if>
            <if test="endDay != null">
                end_day,
            </if>
            <if test="price != null">
                price,
            </if>
                status,
                create_date,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="begianDay != null">
                #{begianDay,jdbcType=DATE},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsItemId != null">
                #{goodsItemId,jdbcType=INTEGER},
            </if>
            <if test="endDay != null">
                #{endDay,jdbcType=DATE},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            0,
            now(),
        </trim>
    </insert>

    <update id="update" parameterType="goodsPriceEntity">
        update t_goods_price
        <set>
            <if test="begianDay != null">
                begian_day = #{begianDay,jdbcType=DATE},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsItemId != null">
                goods_item_id = #{goodsItemId,jdbcType=INTEGER},
            </if>
            <if test="endDay != null">
                end_day = #{endDay,jdbcType=DATE},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>