@charset "utf-8";
body {
	background:#2E363F;
}
.header-all{ height:50px; width:100%; position:relative;}
#header-all,
#header{background-color: #1f262d; width:100%; position:fixed; z-index:99;}

#search input[type=text], #search button {
	background-color: #28b779;
}
#search input[type=text]:focus {
	color: #777777;
}
/* #sidebar > ul{border-bottom: 1px solid #37414b} */
#sidebar > ul > li {
	border-top: 1px solid #37414b; border-bottom: 1px solid #1f262d;
}
#sidebar > ul > li.active {
    background-color: #27a9e3; border-bottom: 1px solid #27a9e3;  border-top: 1px solid #27a9e3;
}
#sidebar > ul > li.active a{ color:#fff; text-decoration:none;}
#sidebar > ul > li.active ul{ display:block;}

#sidebar > ul > li .icon-chevron-left{
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-ms-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	transition: .2s ease-in;
}
#sidebar > ul > li.open .icon-chevron-left{
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#sidebar > ul > li > a > .label {
	background-color:#F66;
}
#sidebar > ul > li > a:hover {
	background-color: #27a9e3; color:#fff;
}
#sidebar > ul li ul {
	background-color: #1e242b;
}
#sidebar > ul li ul li a{ color:#939da8}
#sidebar > ul li ul li a:hover, #sidebar > ul li ul li.active a {
	color: #fff;
	background-color: #111;
}


#search input[type=text] {
	background-color: #47515b; color: #fff; 
}
#search input[type=text]:focus {
	color: #2e363f; color: #fff; box-shadow:none;
}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
	background:#666;
   
}
.top_message{ float:right; padding:20px 12px; position:relative; top:-13px; border-left:1px solid #3D3A37; font-size:14px; line-height:20px; *line-height:20px; color:#333; text-align:center;  vertical-align:middle; cursor:pointer; }
.top_message:hover{ background:#000}
.rightzero{ right:0px; display:none;}
@media (max-width: 480px) {
	#sidebar > a {
		background:#27a9e3;
	}
	.quick-actions_homepage .quick-actions li{ min-width:100%;}
}
@media (min-width: 768px) and (max-width: 970px) {.quick-actions_homepage .quick-actions li{ min-width:20.5%;}}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #222222;
    }
	.quick-actions_homepage .quick-actions li{ min-width:47%;}
}
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}



/* 通用类 */
body{ font-size:14px;}
hr{ margin:0;}
.none{ display:none;}
.mt-10{ margin-top:10px;}.mt-20{ margin-top:20px;}
.ml-16{  margin-left:16px;}.mr-16{  margin-right:16px;}
.nomargin{ margin:0 !important;}
.ajax-load{ padding:20px !important; background:url(../img/load.gif) no-repeat center center;}
.tooltip{ font-size:12px;}
.label [class^="icon-"],
.label [class*=" icon-"],
#user-nav [class^="icon-"],
#user-nav [class*=" icon-"],
#sidebar [class^="icon-"],
#sidebar [class*=" icon-"]{background-image: url("../img/glyphicons-halflings-white.png");}
.link-icon [class^="icon-"],
.link-icon [class*=" icon-"]{ opacity:.7; margin-top:3px;}
.nav{ margin-bottom:0;}
textarea{ min-height:120px; min-width:300px;}
.widget-title .actions{display: inline-block;padding: 0;margin: 0;margin-top: 6px;}
.widget-title .btn{ float:right; margin:8px 11px 0 0;}

/* 右侧顶 */
#content-header h1{ margin:0; padding:10px 20px; font-size:24px;}
#content-header h1 span{ font-size:12px; }

/* 左侧导航 */
#sidebar{ position:fixed !important; background-color:#2E363F; overflow-x:hidden; overflow-y:auto;}
#matrix-nav{ position:relative !important; height:100%;}
#sidebar li a span.icon{ opacity:.5; float:right;margin-right: 20px;}
/* 自定义chrome滚动条样式 */
#sidebar::-webkit-scrollbar{width:6px; height:6px;}
#sidebar::-webkit-scrollbar-track-piece{background-color:#000;}
#sidebar::-webkit-scrollbar-thumb:vertical{height: 5px;background-color:rgba(255,255,255,.3); -webkit-border-radius: 6px;}

/* 带选项卡框 */
.widget-content .widget-tabs-box{ margin:0 !important;}
.widget-tabs-box{ border:0; background-color:transparent;}
.widget-tabs-box .nav-tabs{ border-color:#cdcdcd;}
.widget-tabs-box .widget-content{ background-color:#f9f9f9; border:1px solid #cdcdcd; border-top:0;}
.widget-tabs-box .nav-tabs > li { margin-right: 2px; border-top: 2px solid transparent; }
.widget-tabs-box .nav-tabs > li > a { -webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 2px; margin-right: 0; padding: 5px 10px; }
.widget-tabs-box .nav-tabs > li > a:hover { background: none;border-color:transparent;}
.widget-tabs-box .nav-tabs > li.active { border-top: 3px solid #d12610; margin-top: 0; position: relative; }
.widget-tabs-box .nav-tabs > li.active > a { border-top: none;border-color: #cdcdcd #cdcdcd transparent; font-weight: 400; }
.widget-tabs-box .nav-tabs > li.active > a:hover { background: #fff; border-color: #cdcdcd #cdcdcd transparent; }
.widget-tabs-box .nav-tabs > li { margin-right: 2px; border-top: 2px solid transparent; }

/* 表单 */
input[type="radio"], input[type="checkbox"]{ margin:0 5px 0 0;height: 30px;}
.form-horizontal-inline .control-label{ width:100px;}
.form-horizontal-inline .controls{ margin-left:120px;}
.form-horizontal-inline [class*="span"] .form-actions{ background-color:transparent; padding:10px; border-top:0;}

.form-horizontal.row-fluid:first-child,
.form-horizontal .row-fluid:first-child{ margin-top:0;}
.form-horizontal .alert{ margin-bottom:0;}
.form-horizontal .control-label i{ font-weight:inherit; font-style:normal; color:#b94a48; padding:0 4px; font-family: \5b8b\4f53;}
.form-horizontal .up-photo,
.form-horizontal .photo,
.form-horizontal .notepad-block,
.form-horizontal .notepad-inline{ display:inline-block; height:20px; line-height:20px; padding:4px 0;}
.form-horizontal .notepad-block{ display:block;}
.form-horizontal .up-photo,
.form-horizontal .photo{ height:auto;}
.form-horizontal .up-photo{ text-align:center;}
.form-horizontal .up-photo img,
.form-horizontal .photo img{ max-width:200px; max-height:200px; background-color:#FFF;}
.form-horizontal .up-pic{ min-width:142px; min-height:142px; background:url(../img/load.gif) no-repeat center center #FFF; border:1px solid #CCC; border-radius:3px; overflow:hidden;}
.form-horizontal .up-btn{ margin-top:10px; text-align:center; height:30px; line-height:30px; min-width:70px; overflow:hidden; position:relative; cursor:pointer; padding:1px;}
.form-horizontal .up-btn .uploadify-button,
.form-horizontal .up-btn object{ position:absolute; left:0; top:0;}
.form-horizontal .up-btn .uploadify-button{ background-color:#5BB75B; border:1px solid #52A452; color:#FFF; width:100%; height:100%; cursor:pointer;}
.form-horizontal .form-actions-top{ border-bottom:1px solid #e5e5e5; border-top:0;}
.up-load-img li{ float:left; width:160px; min-height:80px; position:relative; border:1px solid #DDD; background:url(../img/load.gif) no-repeat center center #FFF; margin:0 10px 10px 0; padding:1px;}
.up-load-img li.active{ border:2px solid #5BB75B; padding:0;}
.up-load-img li img{ width:100%; background-color:#FFF;}
.up-load-img li:hover .label{ display:block;}
.up-load-img .label{ cursor:pointer; position:absolute; right:0; top:0; display:none;}
.form-label-inline label{ line-height:30px; margin-left:0 !important; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* accordion */
.accordion .form-actions{ margin:0; border:1px solid #CDCDCD; border-top:0; background-color:#EFEFEF;}
/* 表格 */
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th { background-color:#EAFCFF;}
.table th, .table td{ line-height:inherit; vertical-align:middle; padding:10px 8px;}
.table{ border:1px solid #DDD; margin-bottom:0;}
.table-text-center td{ text-align:center;}
.table-text-center .text-left{ text-align:left !important;}
.table-text-center .text-right{ text-align:right !important;}
.table-text-left th,
.table-text-left td{ text-align:left;}
.table-text-left .text-center{ text-align:center !important;}

.table select,
.table input[type="text"],
.table input[type="tel"],
.table input[type="email"],
.table input[type="password"]{ margin-bottom:0}
.table tbody tr:nth-child(even){ background-color:#F5F5F5;}

.table-footer-tool{ padding-top:20px;}
.table-footer-tool .tool{ float:left; margin:0;}
.table-footer-tool .pagination{ float:right; margin:0;}
/* 订单表格 */
.table-order{ border:0;}
.table-order thead{ border:1px solid #DDD;}
.table-order tbody:hover .order-last,
.table-order tbody:hover .order-bd,
.table-order tbody:hover .order-hd{ background-color:#EAFCFF; }
.table-order .sep-row td{ height:10px; padding:0; overflow:hidden;}
.table-order .order-hd,
.table-order .order-last td,
.table-order .order-bd td{ border:1px solid #DDD;}
.table-order .special-num{ font-size:12px;}
.table-order td{ vertical-align:top;}
.table-order p{ margin-bottom:5px; line-height:18px;}
.table-order .pic{ float:left; display:inline; width:60px; height:60px; margin-right:10px; overflow:hidden; border:1px solid #DDD;}
.table-order .pic img{ width:100%;}
.table-order .desc{ float:left; width:216px; display:inline; overflow:hidden; word-wrap:break-word;}
.table-order .buyers,
.table-order .dealtime{ padding-right:10px;}
.table-order .order-hd [class^="icon-"],
.table-order .order-hd [class*=" icon-"]{ margin-top:3px; opacity:.8;}
.table-order .order-last .label{ white-space: pre-wrap; word-wrap: break-word; max-width:30%;}
/* 评价表格 */
.table-comment .star{ width:100px; display:inline-block; height:16px; background:url(../img/star.png) repeat-x;}
.table-comment .star s{ display:block; height:16px; background:url(../img/star.png) repeat-x 0 -16px;}
.table-comment s.s-1{ width:20px;}
.table-comment s.s-2{ width:40px;}
.table-comment s.s-3{ width:60px;}
.table-comment s.s-4{ width:80px;}
.table-comment s.s-5{ width:100px;}
.table-comment .photo img{ width:60px; border:1px solid #DDD; margin-bottom:8px;}
.table-comment .alert{ margin-bottom:8px;}
.table-comment .alert:nth-last-child(1){ margin-bottom:0;}
.table-comment .order{ padding-bottom:8px; margin-bottom:8px; border-bottom:1px solid #DDD;}
.table-comment .order .pic{ float:left; width:60px; height:60px; overflow:hidden; border:1px solid #DDD;}
.table-comment .order .pic img{ width:100%; height:100%;}
.table-comment .order .desc{ margin-left:70px;}
.table-comment .order .desc p{ margin-bottom:0;}
/* 全边框表格 */
.table-border td{ border:1px solid #DDD;}
/* 按钮 */
.label, .badge,
.btn-mini{ font-size:12px;}

/* 图文 */
.photo-text .pic{ width:60px; height:60px; float:left; margin-right:10px; overflow:hidden;}
.photo-text .content{}
.photo-text dl,
.photo-text dd{ padding:0; margin:0;}
.photo-text dl{ padding:5px 0;}
.photo-text dt,
.photo-text dd{ line-height:25px;}

/* 分页 */
.pagination{ margin-bottom:0;}
.pagination .count{ display:inline-block; padding:4px 10px; float:left;}
.pagination .null{ text-align:center;}

/* 订单管理 */
.order-form{ padding-top:10px; text-align:left;}
.order-form li{ width:15%; cursor:default;}


/* 空数据 */
.widget-text,
.widget-null{ padding:20px;}
.shipment-list{ margin:0; list-style:none; padding:0; max-height:260px; overflow:auto;}
.shipment-list li{ border-bottom:1px solid #EEE; float:left; width:33.333%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.shipment-list li span{ padding:10px 20px; display:inline-block;}
.shipment-list li:hover{ background-color:#F5F5F5;}
.shipment-list li strong{ padding-left:10px;}

/* 银行卡样式 */
.bank-cards{ display:inline-block; border:3px solid #E8E8E8; border:3px solid rgba(175, 178, 183, 0.25); border-radius:5px;}
.bank-cards em{ font-weight:inherit; font-style:normal; padding:0 10px;}
.bank-cards strong{ display:inline-block; width:100px; text-align:right;}
.bank-cards ul{ list-style:none; padding:0; margin:0; border:1px solid #B6B9BE; border-radius:5px; padding:5px 0;}
.bank-cards li{ padding:5px 10px}
.bank-cards li:hover{ background-color:#F5F5F5;}

/* 我的收入表 */
.table-income td{ border:1px solid #DDD; text-align:center;}
.table-income dl{ margin:0; padding:0;}
.table-income dd{ padding-top:10px;}
.table-income .badge{ font-size:14px;}

/* 提现银行卡选择 */
.select-bank{ max-width:400px; margin:0; padding:0; position:relative;}
.select-bank:hover dd{ display:none; position:absolute; left:0; width:100%; background-color:#FFF;}
.select-bank dt .bank-info{ background:url(../img/income_withdrawals_card.png) no-repeat right bottom;}
.select-bank dd{ margin:0; display:none;}
.select-bank dd .bank-info{ margin-top:-2px;}
.bank-info{ border:2px solid #FFCC7F; padding:0 20px 0 10px; height:30px; line-height:30px; cursor:pointer;}
.bank-info:hover{ background-color:#F1F1F1;}
.bank-info strong{ float:left;}
.bank-info span{ float:right; font-weight:normal;}


/* 弹出层 */
.modal textarea{ min-width:300px; min-height:120px;}
.modal-sm textarea{ min-width:180px; min-height:200px;}
.modal-lg textarea{ min-width:600px; min-height:220px;}
.modal-body .form-label-inline{ max-height:200px; overflow:auto;}
.modal-body .model-iframe{ background:url(../img/load.gif) no-repeat center center;}
.modal-body iframe{ width:100%; border:0; margin:0; padding:0; height:380px;}
.modal-body .widget-box{ margin:0;}
.modal-body .widget-content{ padding:5px;}

.modal-toast-block{ position:fixed; border-radius:5px; z-index:9999999; left:50%; top:50%; overflow:hidden; max-width:300px;}
.modal-toast-block .mask{ background:#000; opacity:.8; position:absolute; left:0; top:0; width:100%; height:100%; z-index:1;}
.modal-toast-block .content{ padding:10px 15px; color:#FFF; text-align:center; position:relative; z-index:3; text-shadow:1px 1px 1px rgba(0,0,0,.5); word-wrap:break-word}

.modal-footer .tool{ float:left;}
.modal-footer .tool input,
.modal-footer .tool select{ margin:0; width:120px;}
/* 库存详情 */
.modal-in-stock,
.modal-in-stock input{ font-size:12px;}
.modal-in-stock input.span1{ width:40px; font-size:11px; text-align:center;}
.modal-in-stock input.span2{ width:50px;}

/* 添加整单行 */
.add-one-way,
.add-one-way li{ margin:0; padding:0 0 10px; list-style:none;}
.add-one-way li:nth-last-child(1){ padding-bottom:0;}
.add-one-way input[type=text],
.add-one-way select{ width:80px;}

/* 订单趋势 */
.order-block{ border:1px solid #DDD;}
.order-left{ width:160px; text-align:center; float:left; list-style:none; margin:0; padding:0; display:none;}
.order-left strong{ display:block; font-size:16px;}
.order-left li{ border-right:1px solid #DDD; border-bottom:1px solid #DDD; padding:33px 0; height:40px; line-height:20px;}
.order-left li:nth-last-child(1){ border-bottom:0;}
.order-chart{ height:300px; padding:10px}

/* 订单详情 */
.order-detail dl{ margin:0; padding-bottom:20px;}
.order-detail dl:nth-last-child(1){ padding-bottom:0;}
.order-detail dt{ color:#333; padding-bottom:5px;}
.order-detail dd{ margin-left:0; padding-left:1em;}
.order-detail dd > p,
.order-detail dd > div{ margin-bottom:0; border-bottom:1px solid #EEE; padding:6px 1em;}
.order-detail dd > p:hover,
.order-detail dd > div:hover{ background-color:#F5F5F5; border-bottom-color:#DDD;}
.order-detail dd > p > strong{ font-weight:normal; display:inline-block; width:150px; color:#333;}
.order-detail dd > p img{ height:80px;}
.order-detail dd > div > ol,
.order-detail dd > div > ul{ display:inline-block; margin:0 0 0 12px;}
.order-detail dd > div li{ padding:3px 0;}
.order-detail dd > div > strong{ font-weight:normal; display:inline-block; width:150px; color:#333; vertical-align:top;}
.order-detail li.label{ list-style:none; margin-left:-12px; padding:2px 5px;}
.order-detail li.li-0{ color:red;}
/* 订单进度 */
.order-id{ padding:20px 0; text-align:center; font-size:16px; color:#333;}
.order-progress{ width:800px; margin:0 auto; position:relative; padding:30px 0;}
.order-progress .bg{ border:1px solid #CDCDCD; border-bottom-color:#E7E7E7; height:10px; overflow:hidden; background-color:#EDEDED; border-radius:5px; position:absolute; left:0; top:50%; width:100%; margin-top:-6px;}
.order-progress .bg s{ display:block; height:100%; width:0; background-color:#D9F2FF; -webkit-transition:.3s; transition:.3s;}
.order-progress.state-1 .bg s{ width:20%;}
.order-progress.state-2 .bg s{ width:40%;}
.order-progress.state-3 .bg s{ width:60%;}
.order-progress.state-4 .bg s{ width:80%;}
.order-progress.state-5 .bg s{ width:100%;}
.order-progress ul{ list-style:none; margin:0; position:relative;}
.order-progress li{ float:left; width:20%; position:relative; text-align:center;}
.order-progress li span{ display:block; margin:0 auto; width:150px;}
.order-progress li.last,
.order-progress li.last span{ float:right;}
.order-progress li.child span{ float:left;}
.order-progress ul em,
.order-progress ul del,
.order-progress ul s{ text-decoration:none; font-weight:inherit; font-style:normal;}
.order-progress ul del{ width:30px; height:30px; line-height:28px; border-radius:50%; text-align:center; background-color:#EDEDED; display:block; border:1px solid #CDCDCD; margin:0 auto; padding:3px;}
.order-progress ul s{ display:block; height:100%; background-color:#CCC; color:#111; border-radius:50%; font-weight:bold;}
.order-progress ul strong{ display:block; padding-bottom:10px;}
.order-progress ul em{ font-size:11px; display:block; padding-top:5px; height:22px;}
.order-progress li.active{ color:#12AAF0;}
.order-progress li.active s{ background-color:#4DC1F6; color:#FFF;}

.order-refund-3 li{ width:33.33%;}
.order-refund-6 li{ width:16.66%;}
.order-refund .bg s{ background-color:#FCDBDE;}
.order-refund li.active{ color:#C81522;}
.order-refund li.active s{ background-color:#C81522;}

/* 交易流水号 */
.pay-no{ display:inline-block; width:260px; word-wrap:break-word;}

/* 手机模拟显示 */
.mobile-pop-mask{ position:fixed; width:100%; height:100%; left:0; top:0; z-index:9997; background-color:#000; opacity:.8; filter:alpha(opacity=80);}
.mobile-pop-all{ position:fixed; z-index:99998; width:400px; height:600px; left:50%; top:50%; margin:-300px 0 0 -200px; background-color:#FFF;}
.mobile-pop-all .header{ height:40px; line-height:40px; background-color:#FAFAFA; border-bottom:1px solid #DCDCDC; padding:0 10px; position:relative;}
.mobile-pop-all .header .back{ position:absolute; overflow:hidden; text-indent:-88em; top:10px; opacity:.8;}
.mobile-pop-all .header .close{ right:10px;}
.mobile-pop-all .header h1{ text-align:center; font-size:16px; margin:0;}
.mobile-pop-all iframe{ overflow-x:hidden;}


/* 地址选择 */
.MA-address-pop{ background-color:#FFF; border:1px solid #EEE; box-shadow:0 0 10px rgba(0,0,0,.1); width:450px; height:260px; position:absolute; display:none; z-index:100008;}
.MA-address-pop ul::-webkit-scrollbar{width:6px; height:6px;}
.MA-address-pop ul::-webkit-scrollbar-track-piece{background-color:rgba(0,0,0,.2);}
.MA-address-pop ul::-webkit-scrollbar-thumb:vertical{height: 5px;background-color:rgba(0,0,0,.2); -webkit-border-radius: 6px;}
.MA-address-pop ul{ list-style:none; padding:0; margin:0; -webkit-flex:1; flex:1; overflow:hidden; overflow-y:auto; position:relative; border-right:1px solid rgba(0,0,0,.2);}
.MA-address-pop ul:first-child{ width:150px; -webkit-flex:initial; flex:initial;}
.MA-address-pop ul:last-child{ border-right:0;}
.MA-address-pop li{ height:26px; line-height:26px; overflow:hidden;}
.MA-address-pop li input[type="checkbox"]{ margin:0 3px; float:left; vertical-align:middle; padding:0;}
.MA-address-pop li em{ display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-style:normal; padding-left:5px;}
.MA-address-pop li.hover,
.MA-address-pop li:hover{ background-color:rgba(0,0,0,.05);}
.MA-address-pop li.null{ text-align:center; width:100%;}

.MA-address-select span{ display:inline-block; background-color:#DDD; padding:1px 1px 1px 5px; height:20px; line-height:20px; margin:1px; position:relative; user-select: none; -webkit-user-select: none;}
.MA-address-select del{ text-decoration:none; display:inline-block; width:20px; height:20px; line-height:20px; text-align:center; cursor:pointer; margin-left:2px;}
.MA-address-select del:hover{ background-color:#111; color:#FFF;}

/* 安全购 宝宝节日填写 */
.MA-baby-festival .item{ border-bottom:1px solid #DDD; padding-bottom:15px;}
.MA-baby-festival .item h4{ font-size:16px;}
.MA-baby-festival .item textarea{ width:500px; min-height:80px;}